.grid {
  width: 400px;
  height: 600px;
  background-color: pink;
  position: relative;
  font-size: 100px;
  text-align: center;
}

.doodler {
  background-image:url('Lisa\ .PNG');
  width: 87px;
  height: 85px;
  position: absolute;
}

.platform {
  width: 85px;
  height: 15px;
  background-color: black;
 position: absolute;
}
